<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout2"
    layout:decorate="~{layout2}">

<head>
    <title>Smart Learn</title>
</head>

<body>
    <div layout:fragment="content2">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to User</h1>
            <div class="col-md-8">
                <img th:src="@{/images/img.jpg}" alt="Background" class="img-fluid mb-4" width="8000" height="5000" />
            </div>
        </div>
    </div>
</body>

</html>