<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Smart Learn</title>
</head>

<body>
    <div layout:fragment="content">

        <div class="container mt-5">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">About Farmer Management Application</h1>
                    <p class="col-md-8 fs-4">
                        Welcome to Farmer Management Application, a user-friendly platform designed to streamline farm
                        management tasks and facilitate effective communication between farmers and administrators.
                    </p>
                </div>
            </div>

            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>Our Mission</h2>
                        <p>
                            At Farmer Management Application, our mission is to empower farmers by providing them
                            with tools and resources to efficiently manage their farms. We strive to bridge the gap
                            between farmers and administrators, ensuring seamless collaboration and support for
                            agricultural activities.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>Our Vision</h2>
                        <p>
                            Our vision is to create a collaborative platform that fosters communication, knowledge
                            exchange, and support within the farming community. We aim to be a trusted partner for
                            farmers, offering innovative solutions to enhance farm productivity and sustainability.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>
